@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}

.Paragraph {
    margin-top: 10px;
    text-align: justify;
    font: normal 10pt/1.4em Tahoma;
    background: #fff;
    border: 1px solid #ccc;
    clear: both;
    padding: .5em 1em;
}

html, body {
    width: 100%;
}

body {
    margin: 10px auto;
    padding: 50px 20px 10px;
    background: #f2f2f2;
    color: #000;
    text-align: center;
    width: 80%;
}

table {
    margin: 0 auto;
}

table > tbody > tr > th {
    color: white;
    background-color: #27509D;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #69c;
    color: #333;
    font: normal 22px/18px serif;
    margin: 20px 10px;
}

.centered {

}

.summary {
    background-color: #eeee80;
}

